<mat-toolbar>
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button> -->
    <span>Legacy Life Plans</span>
  
    <button mat-icon-button class="user-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>user</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>home</mat-icon>
    </button><mat-label color="warn">Home</mat-label>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>people</mat-icon>
    </button><mat-label color="warn">Trustees</mat-label>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon color="warn">person</mat-icon>
    </button><mat-label class="warn">Proffesionals</mat-label>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>more_horiz</mat-icon>
    </button><mat-label>More</mat-label>
    
    <span class="example-spacer"></span>
     
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon class="warn">email</mat-icon>
    </button><mat-label>
      Invite
    </mat-label>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>search</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>